<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TourAgent.Properties.Settings.TourAgentConnectionString"
            connectionString="Data Source=.;Initial Catalog=TourAgent;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TourAgent.Properties.Settings.TourFlowManagerDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=TourFlowManagerDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>